<form class="form">
    <p>User data sent:</p>
    <mat-label for="email" [innerHTML]="emailLabel">Email: </mat-label>
    <mat-label for="fullName" [innerHTML]="fullNameLabel">Full name: </mat-label>
    <mat-label for="phone" [innerHTML]="phoneLabel">Phone number: </mat-label>
    <mat-label for="vehicleNumber" [innerHTML]="vehicleNumberLabel">Vehicle number: </mat-label>
    <mat-label for="fuelConsumption" [innerHTML]="fuelConsumptionLabel"> Fuel consumption (Km/L): </mat-label>
</form>
    
