.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }

.form-field {
    display: flex;
    margin-top: 1%;
}

.btn {
    margin-top: 1%;
}